/* ===== NAVBAR ===== */

.navbar {
    background-color: #1B232E !important;
    padding: 0.8rem 1rem;
}

.navbar-brand {
    color: #8CCE3B !important;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.1rem;
    margin: 0 0.7rem;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Hover padrão */
.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* ===== LINK ATIVO ===== */

.active-link {
    background-color: white !important;
    color: #1B232E !important;
    border-radius: 8px;
}

/* Atualiza a cor do ícone dentro do link ativo */
.active-link img {
    filter: invert(1);
}


/* ===== RESPONSIVIDADE ===== */

@media (max-width: 991px) {
    .navbar-nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .navbar-nav .nav-link {
        margin: 0.5rem 0;
    }
}
