{% extends 'nav.html' %}

{% block center %}
  <h2>Lista de Usuários</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Matricula</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Número</th>
        <th>Data_cadastro</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for i in usuarios %}
      <tr>
        <td>
          {% if aluno.foto %}
            <img src="{{ aluno.foto.url }}" alt="Foto do {{ aluno.nome_aluno }}"
                 width="50" height="50" style="border-radius: 50%; object-fit: cover;">
          {% else %}
            <div style="width: 50px; height: 50px; background-color: #ccc; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
              <span style="font-size: 12px;">Sem foto</span>
            </div>
          {% endif %}
        </td>
        <td>{{ i.matricula }}</td>
        <td>{{ i.nome }}</td>
        <td>{{ i.sobrenome}}</td>
        <td>{{ i.numero }}</td>
        <td>{{ i.data_cadastro }}</td>
        <td>
          <a href="{% url 'aluno_editar' id=i.id %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'aluno_remover' id=i.id %}" class="btn btn-danger btn-sm">Remover</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}