{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/menu_bar.css' %}">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
       <a class="navbar-brand" href="#">
      <img src="{% static 'img/icon_ifrn.svg'%}" alt="IFRN" width="30" height="24">
      </a>
      <a class="navbar-brand" href="{% url 'home' %}">IFRN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          {% if user.is_authenticated %}
    

            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Sair</button>
            </form>
          {% endif %}

          <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard_index' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="me-1" style="vertical-align: middle;">
                        <path d="M3 3v18h18"></path>
                        <path d="M18.7 8.7L12 15.4 9.3 12.7 5.6 16.4"></path>
                        <path d="M10.3 3H21v10.7"></path>
                    </svg>
                    Dashboard
                </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">
              <img src="{% static 'img/icon_index.svg' %}" alt="home" width="24" height="24">
              Principal
            </a>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">
              <img src="{% static 'img/icon_about.svg' %}" alt="info" width="24" height="24">
              Sobre
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="conteiner">

    {% block center %}

    {% endblock %}

  </div>

</body>
</html>