{% extends 'base.html' %}
{% load static %}
{% block center %}

<style>
/* ======== CSS RESPONSIVO ======== */

.container-main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 40px 5%;
    background-color: #1B232E;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}


/* IGNORE OS ERROS. É O VSCODE TROLANDO*/
.div1{
    background-image: url('{% static 'img/1Background_about.png' %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.div2{
    background-image: url('{% static 'img/2Background_about.png' %}');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.div3{
    background-image: url('{% static 'img/3Background_about.png' %}');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

/* BLOCO DE CONTEÚDO */
.content-block {
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    padding: 20px;
}

.content-block h2 {
    color: #8CCE3B;
    font-size: 32pt;
    text-align: center;
}

.content-block p {
    text-align: justify;
}

/* ALINHAMENTOS DESKTOP */
.content-block.left {
    align-self: flex-start;
}

.content-block.right {
    align-self: flex-end;
}


@media (max-width: 900px) {
    .decor {
        max-width: 70px;
        opacity: 0.5;
    }

    .content-block {
        max-width: 100%;
    }

    .content-block h2 {
        font-size: 26pt;
    }

    .content-block.left,
    .content-block.right {
        align-self: center;
    }
}

@media (max-width: 900px) {
    .decor {
        display: none;
    }

    .content-block h2 {
        font-size: 22pt;
    }
}
</style>

<div class="container-main">

    <!-- BLOCO 01 -->
    <div class="content-block left div1">
        <h2>Quem é Felipe?</h2>
        <p>Felipe é um assistente virtual que tem o potencial de facilitar a sua navegação, esclarecer dúvidas, explicar funcionalidades e guiar estudantes na resolução de pendências! Sua presença promove maior autonomia aos usuários e torna a plataforma mais acessível e intuitiva, especialmente para alunos novatos. Além disso, Felipe também pode auxiliar estudantes veteranos que enfrentam dificuldades.</p>
    </div>

    <!-- BLOCO 02 -->
    <div class="content-block right div2">
        <h2>O que ele faz?</h2>
        <p>O projeto tem como objetivo o desenvolvimento de um assistente virtual para a comunidade acadêmica do IFRN. O agente, chamado Felipe, será construído com IA generativa (LLMs) da OpenAI, Ollama e Google Gemini, capaz de interagir e orientar discentes e docentes sobre demandas institucionais como SUAP e Portal IFRN.</p>
    </div>

    <!-- BLOCO 03 -->
    <div class="content-block left div3">
        <h2>Como falo com ele?</h2>
        <p>O contato com Felipe será por meio do WhatsApp. É possível trocar mensagens, áudios e arquivos, atendendo diferentes necessidades. Felipe está disponível 24h por dia, responde simultaneamente a vários usuários e funciona tanto em conversas privadas quanto em grupos.</p>
    </div>

</div>

{% endblock %}
