{% extends 'base.html' %}

{% block center %}

<div class="container_main"
style="
display: flex;
background-color: #1B232E;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
padding-left: 5%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-inline-end: 80px;
font-weight: bold;
color: white;"

>
    <div class="block_01"
    style="
    align-self: flex-start;
    margin: 20px;
    width: 500px;
    height: 300px;
    ">
        <h2 style="color: #8CCE3B; text-align: center; font-size: 48pt">Quem é Felipe?</h2>
        <p style="text-align: justify;"> Felipe é um asssitente virtual que tem o potencial de facilitar a sua navegação, esclarecer dúvidas, explicar funcionalidades e guir os estudantes na resolução de pendências que você tiver! Sua preseça promove uma maior autonomia aos usuários, tornando a plataforma mais acessível e intuítiva, especialmente para os alunos novatos. Além disso, Felipe também pode auxiliar os estudantes veteranos que continuam enfrentando dificuldades, garatindo suporte contínuo e contribuindo para a adaptação.</p>
    </div>
    <div class="block_02"style="
    align-self: end;
    margin: 20px;
    width: 500px;
    height: 300px;
    ">
        <h2 style="color: #8CCE3B; text-align: center; font-size: 48pt;">O que ele faz?</h2>
        <p style="text-align: justify;"> O projeto tem como objetivo o desenvolvimento de um asssitente virtual para a rede de educação da comunidade acadêmica do Instituto Federal do Rio Grande do Norte IFRN. Em que, esse agente chamado Felipe será construído por uma rede de inteligência artificial (IA) baseado em modelos genertaivos de respostas (LLMs), da OpenAI, Ollama e Google Gemini. Sendo capaz de interagir e orientar tanto discentes quanto docentes nas demandas relacionadas ao ambiente escolar. O assistente visa atender tanto à necessidade de um suporte digital eficiente que facilite a navegação dos sistemas institucionais como o SUAP e o Portal IFRN</p>
    </div>
    <div class="block_03" style="
    align-self: flex-start;
    margin: 20px;
    width: 500px;
    height: 300px;
    ">
        <h2 style="color: #8CCE3B; text-align: center; font-size: 38pt">Como falo com ele?</h2>
        <p style="text-align: justify;"> O contao direto com o Assistente Felipe será por meio da plataforma de mensagens instantâneas Whatsapp, disponibilizada pela Meta. Nela, é possível troca de mensagens, aúdios e arquivos entre ambas as partes, com o objetivo de atender a diferentes necessidade. Felipe está disponível 24 horas por dia e pode responder a mais de um usuário simultaneamente, sem perda de eficiência ou comprometimento das convesas, que podem ocorrer tanto em mensagens privadas quanto em grupos dentro da plataforma Whatsapp.</p>
    </div>
</div>

{% endblock %}