{% extends 'base.html' %} {% block center %}

<style>

  .main_container {
    background-color: #1b232e;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .frame_container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1200px;
    max-width: 95%;
    height: 700px;
    max-height: 90vh;

    border-radius: 30px;
    background-color: rgba(240, 255, 255, 0.05);
    border: solid 2px #8cce3b;

    padding: 2rem;
    overflow-y: auto;
  }

  .backlogs {
    display: flex;
    flex-direction: column;
    text-align: justify;

    background-color: rgba(240, 255, 255, 0.1);
    width: 100%;
    height: 100%;

    border-radius: 30px;
    padding: 3rem 2rem;

    overflow-y: auto;
  }


  .backlog-item {
    width: 100%;
    color: white;
  }

  .versao {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.1rem;
  }

  .descricao {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .responsavel_e_data {
    text-align: right;
    opacity: 0.6;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }


  @media (max-width: 900px) {
    .frame_container {
      padding: 1.5rem;
    }

    .backlogs {
      padding: 2rem 1rem;
    }

    .versao {
      font-size: 1rem;
    }

    .descricao {
      font-size: 0.95rem;
    }
  }

  @media (max-width: 600px) {
    .frame_container {
      border-radius: 20px;
      padding: 1rem;
    }

    .backlogs {
      border-radius: 20px;
      padding: 1.5rem 1rem;
    }

    .responsavel_e_data {
      font-size: 0.8rem;
    }
  }
</style>

<div class="main_container">
  <div class="frame_container">
    <div class="backlogs">
      {% for backlog in page_obj %}

      <div class="backlog-item versao">
        ATUALIZAÇÃO: {{ backlog.num_versao }} — {{ backlog.data_postagem }}
      </div>

      <div class="backlog-item descricao">{{ backlog.descricao }}</div>

      <div class="backlog-item responsavel_e_data">
        <strong>Por:</strong> {{ backlog.dev_responsavel }} &nbsp;&nbsp; |
        &nbsp;&nbsp; <strong>Data:</strong> {{ backlog.data_alteracao }}
      </div>

      {% empty %}
      <p>Nenhum backlog encontrado.</p>

      {% endfor %}

      
    </div>
  </div>
    <div class="row mt-5">
    <div class="col-12">{% include 'includes/pagination.html' %}</div>
    </div>
</div>

{% endblock %}
