{% extends 'base.html' %}

{% block center %}

<div class="container">

    {% for backlog in backlogs %}

        <div class="backlog-item versao"> 
            {{backlog.num_versao}} 
        </div>
        <div class="backlog-item descricao">
            {{backlog.descricao}}
        </div>
        <div class="backlog-item data_postagem">
            {{backlog.data_postagem}}
        </div>
        <div class="backlog-item responsavel">
            {{backlog.dev_responsavel}}
        </div>

    {% endfor %}

</div>

{% endblock %}