{% extends 'base.html' %}

{% block center %}

<div class="container_main"
style="
display: flex;
background-color: #1B232E;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100vh;
padding-left: 5%;
">

    <h1 class="title" 
    style="
    color: #8CCE3B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 64pt;"
    >FELIPE</h1>

    <h2 class="subtitle"
    style="
    color: rgb(255, 255, 255); 
    font-style: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 32pt;"
    >Assistente Virtual</h2>
    <p class="desc" 
    style="
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 16pt;
    text-align: justify;"
    >Um Assistente Virtual para te ajudar nas atividades acadêmicas <br>no SUAP. Fale comigo e te ajudarei em qualquer demanda <br>necessária!</p>

    <div class="container_buttons"
        style="
        
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        flex-wrap: wrap;
        width: 100vh;
        height: 50%;
        "
    >
        <div class="button"
        style="
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

        ">
        <button type="button" onclick="abrirCaixa()"
            style="
                background-color: #8CCE3B;
                color: #1B232E;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 18pt;
                font-weight: bold;
                text-align: center;
                width: 200px;
                height: 70px;
                border-radius: 20px;
                grid-area: 1 / 1 / 1 / 1;
                cursor: pointer;

            
            " >Fale comigo!</button>
            <button type="button"
            style="
            background: none;
            color: #8CCE3B;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 12pt;
            font-weight: bold;
            text-align: center;
            width: 150px;
            height: 50px;
            text-decoration: underline;
            border: none;
            grid-area: 2 / 2 / 2 / 2;
            cursor: pointer;
            ">ME ADICIONE!</button>
        </div>
    </div>
    
</div>


{% endblock %}