{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container_main">
        <div class="div_img">
            <img src="{% static 'img/logoifrn.png' %}" alt="IFRN">
            <img src="" alt="Placeholder">
        </div>
        <div class="content">
            <h1>BEM VINDO!</h1>
            <div>
                <h2>FELIPE</h2>
                <p>SEU ASSISTENTE VIRTUAL</p>
            </div>
            <button type="button">Entrar com o SUAP</button>
        </div>
    </div>

</body>
</html>